@model AppLoginAspCoreHL.Models.CategoriaLiv

@{
    ViewData["Title"] = "Atualizar";
}

<h1>Categorias</h1>

<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Atualizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                
                <input asp-for="id" class="form-control" type="hidden"/>
            
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Index" class="btn btn-outline-primary btn-sm">Voltar</a>
    </div>
</div>
