@model AppLoginAspCoreHL.Models.Cliente

@{
    ViewData["Title"] = "Cadastrar";
}

@* <h1>Cadastrar</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nascimento" class="control-label"></label>
                <input asp-for="Nascimento" class="form-control date" type="text" placeholder="00/00/0000" />
                <span asp-validation-for="Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control cpf" placeholder="000.000.000-00" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control phone_with_ddd" placeholder="(00) 0000-0000" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" type="password" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.estado.uf" class="control-label"></label>
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Endereco.estado.uf, ViewBag.ListaEstados as SelectList, "Selecione o Estado",
                             htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.cep" class="control-label"></label>
                <input asp-for="Endereco.cep" class="form-control cep" placeholder="00000-000" />
                <span asp-validation-for="Endereco.cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.bairro" class="control-label"></label>
                <input asp-for="Endereco.bairro" class="form-control" />
                <span asp-validation-for="Endereco.bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.rua" class="control-label"></label>
                <input asp-for="Endereco.rua" class="form-control" />
                <span asp-validation-for="Endereco.rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.logradouro" class="control-label"></label>
                <input asp-for="Endereco.logradouro" class="form-control" type="number" />
                <span asp-validation-for="Endereco.logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.complemento" class="control-label"></label>
                <input asp-for="Endereco.complemento" class="form-control" />
                <span asp-validation-for="Endereco.complemento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
 *@

 <div class="container" style="">
    @*   <div class="user-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle espaco2" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
        </svg>        <div class="user-details">
            <h2>Nome Completo User</h2>
            <p>Emailuser@gmail.com</p>
        </div>
    </div> *@

    <h3 class="form-title">Dados do usuário</h3>
    <form asp-action="Cadastrar" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        
        <div class="form-group">
            <input asp-for="Nome" class="form-control" placeholder="Nome completo" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="CPF" class="form-control" placeholder="CPF" />
            <span asp-validation-for="CPF" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Telefone" class="form-control" placeholder="Telefone" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Login" class="form-control" placeholder="Email" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Endereco.estado.uf, ViewBag.ListaEstados as SelectList, "Selecione o Estado",
                         htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        

        <section style="display:flex">
        <div class="form-group">
            <input asp-for="Endereco.rua" class="form-control" placeholder="Endereço" />
            <span asp-validation-for="Endereco.rua" class="text-danger"></span>
        </div>

            <div class="form-group" style="margin-left: 10px;">
            <input asp-for="Endereco.complemento" class="form-control complemento" placeholder="Complemento" />
            <span asp-validation-for="Endereco.complemento" class="text-danger"></span>
        </div>
        </section>

        <div class="form-group">
            <input asp-for="Senha" class="form-control" type="password" placeholder="Senha" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-success btn-block" />
        </div>
    </form>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #f9f9f9;
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .user-details {
        display: flex;
        flex-direction: column;
    }

        .user-details h2 {
            margin: 0;
            font-size: 1.5em;
        }

        .user-details p {
            margin: 0;
            color: #666;
        }

    .form-title {
        align-self: flex-start;
        color: #5a67d8;
        margin-bottom: 15px;
        font-size: 1.5em;
    }

    .form-horizontal {
        width: 100%;
        max-width: 500px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #eef2ff;
    }

        .form-control::placeholder {
            color: #a0aec0;
        }



    .btn-success {
        background-color: #38a169;
        border: none;
        color: white;
        padding: 10px 20px;
        font-size: 1em;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

        .btn-success:hover {
            background-color: #2f855a;
        }
</style>

