@model AppLoginAspCoreHL.Models.Cliente

@{
    ViewData["Title"] = "Cadastrar";
}

<head>
    <style type="text/css">
        @@media (min-width: 1025px) {
            .h-custom {
                height: 100vh !important;
            }
        }

        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            top: 13px;
        }

        .bg-indigo {
            background-color: #7D95FF;
        }

        @@media (min-width: 992px) {
            .card-registration-2 .bg-indigo {
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }

        @@media (max-width: 991px) {
            .card-registration-2 .bg-indigo {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    </style>
</head>

<form asp-action="Cadastrar">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="p-5">
                                        <h3 class="fw-normal mb-5" style="color: #7D95FF;">Informações Gerais</h3>

                                    <div class="mb-4 pb-2">
                                        <div data-mdb-input-init class="form-outline">
                                            <label class="form-label">Nome Completo</label>
                                            <input asp-for="Nome" type="text" class="form-control form-control-lg" />
                                            <span asp-validation-for="Nome" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div data-mdb-input-init class="form-outline">
                                                <label class="form-label">Nascimento</label>
                                                <input type="text" asp-for="Nascimento" class="form-control form-control-lg date" />
                                                <span asp-validation-for="Nascimento" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4 pb-2">

                                            <div data-mdb-input-init class="form-outline">
                                                <label class="form-label">CPF</label>
                                                <input type="text" asp-for="CPF" class="form-control form-control-lg cpf" />
                                                <span asp-validation-for="CPF" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div data-mdb-input-init class="form-outline">
                                            <label class="form-label">Telefone</label>
                                            <input asp-for="Telefone" type="text" class="form-control form-control-lg phone" />
                                            <span asp-validation-for="Telefone" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div data-mdb-input-init class="form-outline">
                                            <label class="form-label">Email de Login</label>
                                            <input asp-for="Login" type="text" class="form-control form-control-lg" />
                                            <span asp-validation-for="Login" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div data-mdb-input-init class="form-outline">
                                            <label class="form-label">Senha</label>
                                            <input asp-for="Senha" type="password" class="form-control form-control-lg" />
                                            <span asp-validation-for="Senha" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6 bg-indigo text-white">
                                <div class="p-5">
                                    <h3 class="fw-normal mb-5">Detalhes de Endereço</h3>

                                    <div class="mb-4 pb-2">
                                        <div data-mdb-input-init class="form-outline form-white">
                                            <label class="form-label">CEP</label>
                                            <input type="text" asp-for="Endereco.cep" class="form-control form-control-lg cep" id="CEP" />
                                            <span asp-validation-for="Endereco.cep" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                            <div data-mdb-input-init class="form-outline form-white">
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(model => model.Endereco.estado.uf, ViewBag.ListaEstados as SelectList, "Estado",
                                                         htmlAttributes: new { @class = "form-control", @id = "Estado" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div data-mdb-input-init class="form-outline form-white">
                                            <label class="form-label">Bairro</label>
                                            <input type="text" asp-for="Endereco.bairro" class="form-control form-control-lg" id="Bairro" />
                                            <span asp-validation-for="Endereco.bairro" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="mb-4 pb-2">
                                        <div data-mdb-input-init class="form-outline form-white">
                                            <label class="form-label">Rua</label>
                                            <input type="text" asp-for="Endereco.rua" class="form-control form-control-lg" id="Endereco" />
                                            <span asp-validation-for="Endereco.rua" class="text-danger"></span>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-5 mb-4 pb-2">

                                            <div data-mdb-input-init class="form-outline form-white">
                                                <label class="form-label">Número</label>
                                                <input type="number" asp-for="Endereco.logradouro" class="form-control form-control-lg" min="0" />
                                                <span asp-validation-for="Endereco.logradouro" class="text-danger"></span>
                                            </div>

                                        </div>

                                        <div class="col-md-7 mb-4 pb-2">
                                            <label class="form-label">Complemento</label>
                                            <input type="text" asp-for="Endereco.complemento" class="form-control form-control-lg" placeholder="Opcional"/>
                                            <span asp-validation-for="Endereco.complemento" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                                        <input class="form-check-input me-3" type="checkbox" value="" required />
                                        <label class="form-check-label text-white" for="form2Example3">
                                            Eu aceito os <a href="#!" class="text-white"><u>Termos e Condiçoes</u></a> do site.
                                        </label>
                                    </div>

                                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg"
                                            data-mdb-ripple-color="dark">
                                        Casdastrar
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>

























@* <h3 class="form-title">Dados do usuário</h3>
    <form asp-action="Cadastrar" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group">
            <input asp-for="Nome" class="form-control" placeholder="Nome completo" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group">
        <input asp-for="CPF" class="form-control cpf" placeholder="CPF" />
            <span asp-validation-for="CPF" class="text-danger"></span>
        </div>

        <div class="form-group">
        <input asp-for="Telefone" class="form-control phone" placeholder="Telefone" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>

        <div class="form-group">
        <input asp-for="Nascimento" class="form-control date" placeholder="Nascimento" type="text"/>
            <span asp-validation-for="Nascimento" class="text-danger" />
        </div>

        <div class="form-group">
            <input asp-for="Login" class="form-control" placeholder="Email para login" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Endereco.estado.uf, ViewBag.ListaEstados as SelectList, "Estado",
                         htmlAttributes: new { @class = "form-control" , @id = "Estado"})
            </div>
        </div>


        <div class="form-group">
            <input asp-for="Endereco.rua" class="form-control" placeholder="Rua" id="Endereco"/>
            <span asp-validation-for="Endereco.rua" class="text-danger"></span>
        </div>

    <div class="form-group">
        <input asp-for="Endereco.logradouro" class="form-control" placeholder="Logradouro" type="number" min="0" id="Endereco" />
        <span asp-validation-for="Endereco.logradouro" class="text-danger"></span>
    </div>

        <div class="form-group">
            <input asp-for="Endereco.bairro" class="form-control" placeholder="Bairro" id="Bairro"/>
            <span asp-validation-for="Endereco.bairro" class="text-danger"></span>
        </div>

        <div class="form-group">
        <input asp-for="Endereco.cep" class="form-control cep" placeholder="CEP" id="CEP"/>
            <span asp-validation-for="Endereco.cep" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Endereco.complemento" class="form-control" placeholder="Complemento (opcional)" />
            <span asp-validation-for="Endereco.complemento" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Senha" class="form-control" type="password" placeholder="Senha" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>





        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #f9f9f9;
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .user-details {
        display: flex;
        flex-direction: column;
    }

        .user-details h2 {
            margin: 0;
            font-size: 1.5em;
        }

        .user-details p {
            margin: 0;
            color: #666;
        }

    .form-title {
        align-self: flex-start;
        color: #5a67d8;
        margin-bottom: 15px;
        font-size: 1.5em;
    }

    .form-horizontal {
        width: 100%;
        max-width: 500px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #eef2ff;
    }

        .form-control::placeholder {
            color: #a0aec0;
        }



    .btn-success {
        background-color: #38a169;
        border: none;
        color: white;
        padding: 10px 20px;
        font-size: 1em;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

        .btn-success:hover {
            background-color: #2f855a;
        }
</style> *@

