@{
    ViewData["Title"] = "Index";
}

<h4 style="margin-bottom: 27.5vw" class="d-flex justify-content-center">
    @ViewData["MSG_E"] <p> Para voltar as compras <a asp-controller="Home" asp-action="Index">clique aqui...</a></p>
</h4>
