@{
    ViewData["Title"] = "Index";
}

<h4 style="margin-bottom: 27.5vw" class="d-flex justify-content-center">
    @ViewData["MSG_E"] <a asp-controller="Home" asp-action="Index"> Clique aqui</a> para voltar as compras...
</h4>
