@{
    ViewData["Title"] = "SaibaMais";
}

<header>
    <script src="~/js/site.js"></script>
</header>


<main role="main" class="pb-3">
    <div class="d-flex justify-content-center"
    <img src="~/img/identidade/header_logo.png"/>
    </div>
    
    <div style="display:flex" class="d-flex justify-content-center">
        <img src="~/img/place/Place1.png"/>
        <p class="card-text" style="text-align:justify; font: 0.85vw Nunito, arial; margin-left:1vw; margin-top:1vw">
            Há alguns anos atrás, no coração da cidade, nasceu a Livraria Prisma. Fundada por dois amigos apaixonados por livros, Pedro e Mariana, a Prisma surgiu da ideia de tornar a leitura acessível para todos. Ambos compartilhavam uma visão: oferecer uma ampla seleção de livros novos e usados a preços acessíveis, especialmente voltados para aqueles que amam ler mas enfrentam barreiras financeiras para comprar livros novos.
            A Livraria Prisma rapidamente se tornou um refúgio para os amantes da leitura. Com prateleiras repletas de obras que variavam de clássicos da literatura a lançamentos contemporâneos, o ambiente acolhedor da Prisma se tornou um ponto de encontro para leitores ávidos em busca de suas próximas descobertas literárias.
        </p>
    </div>



</main>

@* Há alguns anos atrás, no coração da cidade, nasceu a Livraria Prisma. Fundada por dois amigos apaixonados por livros, Pedro e Mariana, a Prisma surgiu da ideia de tornar a leitura acessível para todos. Ambos compartilhavam uma visão: oferecer uma ampla seleção de livros novos e usados a preços acessíveis, especialmente voltados para aqueles que amam ler mas enfrentam barreiras financeiras para comprar livros novos.

A Livraria Prisma rapidamente se tornou um refúgio para os amantes da leitura. Com prateleiras repletas de obras que variavam de clássicos da literatura a lançamentos contemporâneos, o ambiente acolhedor da Prisma se tornou um ponto de encontro para leitores ávidos em busca de suas próximas descobertas literárias.

Conforme o tempo passava, Pedro e Mariana perceberam que poderiam alcançar ainda mais pessoas se expandissem para o mundo digital. Com isso em mente, decidiram desenvolver um aplicativo mobile e um site web para a Livraria Prisma. O objetivo era simples: permitir que seus clientes pudessem explorar seu catálogo extenso de livros, fazer compras online e até mesmo descobrir recomendações personalizadas baseadas em seus interesses literários.

O lançamento do aplicativo e do site foi um marco para a Livraria Prisma. Agora, não apenas os moradores locais podiam desfrutar da vasta coleção de livros da Prisma, mas também leitores de todo o país. A facilidade de navegação, os preços competitivos e o cuidado especial com cada pedido conquistaram ainda mais clientes, expandindo a base de apaixonados por livros que se identificavam com a missão da Prisma.

Com o passar dos anos, a Livraria Prisma continuou a crescer. Novas seções foram adicionadas ao catálogo, incluindo livros infantis, livros técnicos e edições especiais de colecionador. Além disso, a Prisma passou a oferecer eventos literários, como clubes do livro e sessões de autógrafos, tanto presenciais quanto online, conectando autores e leitores de maneiras inovadoras.

A missão inicial de Pedro e Mariana de tornar a leitura acessível se expandiu além das expectativas iniciais. Hoje, a Livraria Prisma não é apenas um ponto de venda de livros, mas um centro cultural que promove a paixão pela leitura em todas as suas formas. Com a combinação do espaço físico acolhedor e a presença digital robusta, a Prisma continua a ser um farol para os amantes de livros de todas as idades e origens, celebrando a diversidade de histórias que enriquecem nossas vidas. *@