@model IEnumerable<AppLoginAspCoreHL.Models.Livro>


@{
    ViewData["Title"] = "SaibaMais";
}

<header>
    <script src="~/js/site.js"></script>
</header>


<main role="main" class="pb-3">
    <p <div class="d-flex justify-content-center" style="margin-top:2vw; color:#7D95FF; text-shadow: 1px 1px 1px black; font-size: 2vw">Lançamentos</div></p>

    <div style="display:flex">
        <img src="~/img/identidade/header_logo.png" />

        <p class="card-text" style="text-align:justify; font: 0.85vw Nunito, arial">
            Há alguns anos atrás, no coração da cidade, nasceu a Livraria Prisma. Fundada por dois amigos apaixonados por livros, Pedro e Mariana, a Prisma surgiu da ideia de tornar a leitura acessível para todos. Ambos compartilhavam uma visão: oferecer uma ampla seleção de livros novos e usados a preços acessíveis, especialmente voltados para aqueles que amam ler mas enfrentam barreiras financeiras para comprar livros novos.
            A Livraria Prisma rapidamente se tornou um refúgio para os amantes da leitura. Com prateleiras repletas de obras que variavam de clássicos da literatura a lançamentos contemporâneos, o ambiente acolhedor da Prisma se tornou um ponto de encontro para leitores ávidos em busca de suas próximas descobertas literárias.
        </p>
    </div>
</main>