
@{
    ViewData["Title"] = "Prisma - Saiba Mais";
}

<p <div class="d-flex justify-content-center" style="margin-top:2vw; color:#7D95FF; text-shadow: 1px 1px 1px black; font-size: 2vw">Lançamentos</div>></p>

<img href="img/"/>

<p>asdas</p>

